{% extends "../base.html" %}

{% block title %} Intropixel | My Videos {% endblock %}

{% block body %}

    <main id="maincontent" class="page-main">
        <a id="contentarea" tabindex="-1"></a>
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">My Videos</span>    
            </h1>
        </div>
        <div class="page messages">
            <div data-placeholder="messages"></div>
            <div data-bind="scope: 'messages'">
                <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
                <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column main">
                <input name="form_key" type="hidden" value="beLV6k3CTy2lM74h">
                <div class="downloads-container">
                    <div class="raw-container">
                        <div class="raw-video-column">
                            <div class="label-container"><label><strong></strong> <span>Blockload </span></label></div>
                            <div class="video-container">
                                <video width="700px" height="394px" controls="controls" controlslist="nodownload" preload="metadata">
                                    <source src="https://www.introbrand.com/media/Content/output/final_videos/0000258438_blockload_B_03_preview.mp4" type="video/mp4">
                                </video>
                                <div class="video-detail">
                                    <div class="buttons-container action">
                                        <a href="https://www.introbrand.com/video/customize/delete/preview_id/258516/" class="button link delete" data-title="Delete preview Video" data-content="This preview video will be deleted permanently, are you sure you want to delete it?"><span>Delete</span></a>
                                        <a href="https://www.introbrand.com/catalog/category/view/s/video-templates/id/39/?toDetail=aHR0cHM6Ly93d3cuaW50cm9icmFuZC5jb20vdmlkZW8vaW5kZXgvZGV0YWlsL3Byb2R1Y3RfaWQvNjcvcHJldmlld19pZC8yNTg1MTYv" class="button link edit"><span>Edit</span></a>
                                    </div>
                                    <div class="status-container">
                                        <label><strong>Status: Preview</strong></label>
                                        <span>Days left to view: 2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="raw-purchase-column">
                            <form method="post" action="https://www.introbrand.com/video/customize/purchase/" id="form-0000258438">
                                <input type="hidden" name="product" value="67">
                                <input type="hidden" name="preview_id" value="258516">
                                <input type="hidden" name="qty" value="1">
                                <div class="output-container options">
                                    <label>
                                    <strong>Video Export Options</strong>
                                    <span class="tooltip" title="ⓘ To download this free low-resolution video, right-click on the video image and select SAVE VIDEO AS. &nbsp;&nbsp;&nbsp;&nbsp;ⓘ To upgrade this video to high-quality resolution, select an option below and go to CHECK OUT."></span>
                                    </label>
                                    <script type="text/javascript">
                                        require(['jquery'], function ($) {
                                            $(document).ready(function () {
                                                $(document).trigger('contentUpdated');
                                            });
                                        });
                                    </script>
                                    <div class="field" id="duration_form-0000258438_3">
                                        <div class="control">
                                            <div class="options-list nested" id="options-5007-list">
                                                <div class="field choice admin__field admin__field-option"><input type="radio" class="radio admin__control-radio  product-custom-option" name="options[5007]" id="options_0000258438_5007_2" value="22029" checked="" data-selector="options[5007]" price="19.99" data-sku="03_720P30"><label class="label admin__field-label" title="Small │ 720p" for="options_0000258438_5007_2"><span>Small │ 720p</span> </label></div>
                                                <div class="field choice admin__field admin__field-option"><input type="radio" class="radio admin__control-radio  product-custom-option" name="options[5007]" id="options_0000258438_5007_3" value="22030" data-selector="options[5007]" price="29.99" data-sku="03_1080P30"><label class="label admin__field-label" title="Large │ 1080p" for="options_0000258438_5007_3"><span>Large │ 1080p</span> </label></div>
                                                <div class="field choice admin__field admin__field-option"><input type="radio" class="radio admin__control-radio  product-custom-option" name="options[5007]" id="options_0000258438_5007_4" value="22031" data-selector="options[5007]" price="49.99" data-sku="03_2160P30"><label class="label admin__field-label" title="Ultra │ 2160p" for="options_0000258438_5007_4"><span>Ultra │ 2160p</span> </label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="extras-container options">
                                    <div class="field downloads required">
                                        <ul class="control outputs" id="downloadable-links-list" data-container-for="downloadable-links">
                                            <li class="field choice output-item" data-role="link" style="display: none;">
                                                <input type="checkbox" data-validate="{'validate-one-checkbox-required-by-name':'downloadable-links-list'}" name="links[]" id="links_169" value="169" checked="checked" data-checked="true" data-duration="3">
                                                <label class="label" for="links_169">
                                                <span>3 Seconds</span>
                                                <span class="price-container tax weee">
                                                <span data-price-amount="0" data-price-type="" class="price-wrapper ">
                                                $ 0    </span>
                                                </span>
                                                </label>
                                            </li>
                                        </ul>
                                        <span id="links-advice-container"></span>
                                    </div>
                                </div>
                                <div class="action-container">
                                    <div class="price-box form-0000258438 price-final_price" data-role="priceBox" data-product-id="67">
                                        <span class="price-container form-0000258438 price-final_price tax weee" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                            <span id="product-price-67" data-price-amount="0" data-price-type="finalPrice" class="price-wrapper " itemprop="price"><span class="price">$ 19.99</span></span>
                                            <meta itemprop="priceCurrency" content="USD">
                                        </span>
                                    </div>
                                    <div class="action button-container">
                                        <button class="action primary choose"><span>Check Out</span></button>
                                    </div>
                                </div>
                            </form>
                            <script type="text/javascript">
                                require([
                                    'jquery',
                                    'downloadsPriceBox'
                                ], function ($) {
                                    var dataPriceBoxSelector = '[data-role=priceBox].form-0000258438',
                                            dataProductIdSelector = '[data-product-id=67]',
                                            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);
                                    priceBoxes = priceBoxes.filter(function (index, elem) {
                                        return !$(elem).find('.price-from').length;
                                    });
                                    priceBoxes.downloadsPriceBox({'disabled': true, 'priceConfig': {"productId":"67","priceFormat":{"pattern":"$ %s","precision":2,"requiredPrecision":2,"decimalSymbol":".","groupSymbol":",","groupLength":3,"integerRequired":1}}});
                                });
                            </script>		
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}