{% extends "../base.html" %}

{% block title %} Intropixel | Register {% endblock %}

{% block body %}

    <main id="maincontent" class="page-main">
        <a id="contentarea" tabindex="-1"></a>
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">Register</span>    
            </h1>
        </div>
        <div class="columns">
            <div class="column main">
                <input name="form_key" type="hidden" value="beLV6k3CTy2lM74h">
                <div class="login-container">
                    <div class="block block-customer-login">
                        <div class="block-content" aria-labelledby="block-customer-login-heading">
                            <form class="form form-login" action="https://www.introbrand.com/customer/account/loginPost/" method="post" id="login-form" novalidate="novalidate">
                                <input name="form_key" type="hidden" value="beLV6k3CTy2lM74h">            
                                <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                                    <div class="field note"></div>
                                    <div class="field email required">
                                        <label class="label" for="first_name"><span>Your First Name</span></label>
                                        <div class="control">
                                            <input name="login[username]" value="" autocomplete="off" id="first_name" type="text" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="field email required">
                                        <label class="label" for="last_name"><span>Your Last Name</span></label>
                                        <div class="control">
                                            <input name="login[username]" value="" autocomplete="off" id="last_name" type="text" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="field email required">
                                        <label class="label" for="username"><span>Your Username</span></label>
                                        <div class="control">
                                            <input name="login[username]" value="" autocomplete="off" id="username" type="text" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="field email required">
                                        <label class="label" for="email"><span>Your email</span></label>
                                        <div class="control">
                                            <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="field password required">
                                        <label for="pass" class="label"><span>Password</span></label>
                                        <div class="control">
                                            <input name="login[password]" type="password" autocomplete="off" class="input-text" id="pass" title="Password" data-validate="{required:true}" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="actions-toolbar">
                                        <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Sign In</span></button></div>
                                        <div class="secondary">
                                            <a href="{% url 'login' %}" class="action create"><span>Already a user? <strong>LOGIN</strong></span></a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="block block-new-customer">
                        <div class="block-title">
                            <strong id="block-new-customer-heading" role="heading" aria-level="2">New Customers</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-new-customer-heading">
                            <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
                            <div class="actions-toolbar">
                                <div class="primary">
                                    <a href="https://www.introbrand.com/customer/account/create/" class="action create primary"><span>Create an Account</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}