{% extends "../base.html" %}

{% block title %} Pricing | Intropixel {% endblock %}

{% block body %}

    <main id="maincontent" class="page-main">
        <a id="contentarea" tabindex="-1"></a>
        <div class="page-title-wrapper">
            <h1 class="page-title"
                >
                <span class="base" data-ui-id="page-title-wrapper" >Pricing</span>    
            </h1>
        </div>
        <div class="columns">
            <div class="column main">
                <p><strong>Simply pay-per-video. No monthly subscriptions or memberships.</strong></p>
                <p class="centered">All videos are available as professional quality high-resolution video files. Prices are per single video and include commercial license.</p>
                <table class="prices">
                    <tbody>
                        <tr>
                            <td style="text-align: left;"><strong>Free</strong></td>
                            <td style="text-align: left;">Low Video Resolution</td>
                            <td style="text-align: left;"><strong>SD 360p</strong><br />(640 x 360 pixel)</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>$19.99</strong></td>
                            <td style="text-align: left;">Small Video Resolution</td>
                            <td style="text-align: left;"><strong>HD 720p</strong><br />(1280 x 720 pixel)</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>$29.99</strong></td>
                            <td style="text-align: left;">Large Video Resolution</td>
                            <td style="text-align: left;"><strong>HD 1080p</strong><br />(1920 x 1080 pixel)</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><strong>$49.99</strong></td>
                            <td style="text-align: left;">Ultra Video Resolution 4K <strong>&nbsp;&nbsp;BESTSELLER</strong></td>
                            <td style="text-align: left;"><strong>UHD 2160p (4K)</strong><br />(3840 x 2160 pixel)</td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <div class="action"><a class="get-started button link" href="https://www.introbrand.com/video-templates.html/">Make a Video</a></div>
                </p>
            </div>
        </div>
    </main>

{% endblock %}