{% extends "../base.html" %}

{% block title %} Create Animated Pixel Videos for Businesses and Brands | Templates {% endblock %}

{% block body %}

    <main id="maincontent" class="page-main">
        <a id="contentarea" tabindex="-1"></a>
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading">
                <span class="base" data-ui-id="page-title-wrapper" >Video Templates</span>    
            </h1>
        </div>
        <div class="columns">
            <div class="column main">
                <div class="products wrapper grid products-grid">
                    <ol class="products list items product-items" data-mage-init='{"listvideo":{"changeMainClass":true}}'>
                        <li class="item product product-item">
                            <div class="product-item-info" data-container="product-grid">
                                <a href="/">
                                    <video poster="https://www.introbrand.com/media/catalog/product/cache/small_image/380x214/beff4985b56e3afdbeabfc89641a4582/t/y/type-animation-blockload-thumb.jpg" width="380" height="214" preload="none" muted playsinline onmouseover="this.play()" onmouseout="this.pause();" controlsList="nodownload">
                                        <source src="https://www.introbrand.com/media/downloadable/files/samples/t/y/type-animation-blockload-mini.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'/>
                                    </video>
                                </a>
                                <center>
                                    <div class="product details product-item-details">
                                        <strong class="product name product-item-name">
                                        <a href="/">Blockload</a>
                                        </strong>
                                    </div>
                                </center>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </main>

{% endblock %}